body {
    margin: 0;
    padding: 0;
    background-color: rgb(230, 236, 240);
    font-family: sans-serif;
}

.loginbox {
    width: 350px;
    height: 420px;
    background: rgb(86, 79, 79);
    color: white;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 10px;
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    color: white;
    font-size: 18px;
}

.loginbox select {
    width: 100%;
    margin-bottom: 20px;
    height: 40px;
    border: none;
    border-bottom: 1px solid white;
    background: transparent;
    outline: none;
    color: white;
    font-size: 18px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: rgb(107, 106, 106);
    color: white;
    font-size: 18px;
    border-radius: 20px;
    cursor: pointer;
}

.loginbox input[type="submit"]:hover {
    background: #ffc107;
    color: #000;
}

.loginbox a {
    text-decoration: none;
    font-size: 12px;
    line-height: 20px;
    color: darkgrey;
}

.loginbox a:hover {
    color: #ffc107;
}
