body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 20px;
}

nav {
    display: flex;
    justify-content: center;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s; /* Smooth transition for color change */
}

nav a:hover {
    color: #ffcc00; /* Change the color to your desired hover color */
}

.main {
    padding: 20px;
}

.info-container {
    background-color: #f0f0f0;
    border-radius: 10px;
    margin-bottom: 20px;
    padding: 20px;
}

.info-container h2 {
    color: #333;
    font-weight: bold;
    text-align: center;
    margin-bottom: 15px;
}

.info {
    display: flex;
    justify-content: space-between;
}

.info div {
    text-align: center;
    width: 23%;
    padding: 10px;
    border: 1px solid #333;
    background-color: #fff;
    border-radius: 5px;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.student-form {
    width: 300px;
    margin: 20px auto;
    padding: 15px;
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.student-form label {
    display: block;
    margin-bottom: 8px;
}

.student-form input,
.student-form select {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    box-sizing: border-box;
}

.student-form input[type="submit"] {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.student-form input[type="submit"]:hover {
    background-color: #45a049;
}

/* Additional styles for responsiveness */
@media (max-width: 600px) {
    .student-form {
        width: 80%;
    }
}
div {
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-weight: bold;
    padding: 10px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

a:hover {
    background-color: #e0e0e0;
}
